# Node
node_modules/
npm-debug.log
yarn-error.log

# Env files
.env
.env.local
.env.development
.env.production
.env.*

# Build outputs
dist/
build/

# Logs
logs/
*.log

# System
.DS_Store
Thumbs.db

# Test files
mailtest.js
